<style>
body, div, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing: 0.0625em;
    width:100%;
}

a {
    text-decoration: none;

}

/* Navigation CSS
*
*/
.navbar{
    background-color: rgba(164, 164, 164, 1);

}

.navbar-inverse .navbar-header .navbar-brand {
    color: white;

}

.navbar-inverse .navbar-header .navbar-brand:hover {
    color: rgba(97, 166, 215, 1);

}


.nav.navbar-nav.navbar-right li a {
    color: white;

}

.nav.navbar-nav.navbar-right li a:hover {
    background-color: rgba(255, 253, 23, 0.7);

}
.active {
    background-color:rgba(9, 167, 77, 1);

}



/* Social Buttons CSS
*
*/

.slide {
    position:relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.slides-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.slide .centered {
    width: 40%;
    margin:105px auto 0;

}

.slide .centered h1 {
    position:relative;
    height: 200px;
    background: rgba(25, 180, 237, 0.8);
    color: #e9e9e9;
    font-family: "Century Gothic", arial, sans-serif;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size:4.4vw;
    border: 3px dotted rgba(255, 255, 255, 0.75);

}


.slide .centered p {
    position: relative;
    background: rgba(25, 180, 237, .8);
    height:80px;
    color: #e9e9e9;
    font-family: "Century Gothic", arial, sans-serif;
    border-radius: 15px;
    font-weight: bold;
    font-size: 4.5vmin;
    text-align: center;
    color:black;
    top:440px;
    border: 3px dotted rgba(255, 255, 255, 0.75);

}
#links{
  position: relative;
  width: 100%;
  height: 100px;
  left: 80;
}
.btn-lg {
  position:relative;
  top:110px;
  width: 200px;




}

.cardWrapper{
width:500px;
height:500px;
position:relative;
margin-right:10px;
cursor:pointer;
left:-70px;
-webkit-font-smoothing:antialiased;
}

.cardFace{
position:absolute;
width:450px;
height:350px;
overflow:hidden;
}

.front{
background-color:rgba(255, 0, 0, 0.5);
box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 1);
}

.back{
background-color:rgba(0, 0, 255, 0.5);
box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 1);
}



.cardFace h2{
margin:0px;
font-size:22px;
padding:25px 0px 10px 10px;
color:white;

}


.cardFace.back h2{
border-color:blue;
}


#Home {
  background: url(../im/home.jp) no-repeat center center scroll;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:auto;
}

#About {
  background: url(../im/at.jpeg) no-repeat center center scroll;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y:auto;
}

#Project {
  background: url(../im/pj.jpg) no-repeat center center scroll;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#Contact {
  background: url(../im/ct.jpeg) no-repeat center center scroll;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn-lg:hover{
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
  }
  </style>
